*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
  line-height: calc(1em + 0.5rem);
}

body {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-areas:
    "sidebar header"
    "sidebar main";
  min-height: 100dvh;
  font-family: Inter, system-ui, sans-serif;
}

img,
svg {
  display: block;
  max-width: 100%;
}

li {
  list-style: none;
}

menu {
  display: flex;
  gap: 1rem;
}

header {
  grid-area: header;
}

main {
  grid-area: main;
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 1rem;
}

.primary {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.secondary {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 1rem;
}

.sidebar {
  grid-area: sidebar;
}
