*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
  line-height: calc(1em + 0.5rem);
}

body {
  min-height: 100dvh;
  font-family: system-ui, sans-serif;
}

img,
svg {
  display: block;
  max-width: 100%;
}
