:root {
  --color-bg: hsl(from var(--color-fg) h s calc(l - 5));
  --color-fg: hsl(0 0 100);
  --color-txt: hsl(0 0 0);
  --color-txt-muted: hsl(from var(--color-txt) h s calc(l + 25));
  --color-border: hsl(from var(--color-txt) h s l / 15%);
  --color-primary: hsl(201 79 46);
  --color-secondary: hsl(42 87 55);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
  line-height: calc(1em + 0.5rem);
}

body {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-areas:
    "sidebar header"
    "sidebar main";
  min-height: 100dvh;
  background-color: var(--color-bg);
  color: var(--color-txt-muted);
  font-family: Inter, system-ui, sans-serif;
}

img,
svg {
  display: block;
  max-width: 100%;
}

.logo {
  font-size: 1.75rem;
  font-weight: 600;
}

h2,
h3,
h4,
h5,
h6 {
  color: var(--color-txt);
}

h2,
h3 {
  font-weight: 600;
}

h2 {
  font-size: 1.25rem;
}

h3 {
  font-size: 1.125rem;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

menu {
  display: flex;
  gap: 1rem;
}

.header-secondary button,
.sidebar {
  background-color: var(--color-primary);
  color: var(--color-fg);
}

header {
  grid-area: header;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  padding: 1.25rem 1.75rem;
  background-color: var(--color-fg);
}

.header-primary,
.header-secondary {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  grid-area: main;
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 1rem;
}

.primary {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.secondary {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 1rem;
}

.card {
  background-color: var(--color-fg);
}

.sidebar {
  grid-area: sidebar;
  padding: 1.5rem 1.75rem;
  font-size: 1.125rem;
  font-weight: 500;
}

.sidebar nav > * {
  margin-bottom: 2rem;
}

.sidebar ul li {
  line-height: 2;
}
